<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>支付成功</title>


    <style type="text/css">
        body,.mui-content{background: #fff;}
        .success{text-align: center;padding-top: 160px;}
        p{font-size: 18px;}
    </style>
</head>
<body>

<div class="success">
    <!-- 成功 -->
    <img src="__STATIC__/h5/images/success.png" >
    <p>订单支付成功</p>
    <!-- 失败 -->
    <!--<img src="images/erro.png" >-->
    <!--<p>订单支付失败</p>-->
</div>

</body>
</html>
